*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {font-family:  Arial, Helvetica, sans-serif;}
h1{
    margin-bottom: 40px;
    padding-bottom: 10px;
    border-bottom: 1px dashed #242946;
    color: #242946;
    font-size: 35px;
}
div{
    margin: 50px auto;
    padding: 50px;
    width: 50%;
    border-radius: 20px;
    background: #efebc4;
}
ul{list-style: none;}
ul li{
    display: block;
    padding: 0 20px 0 20px;
    margin: 10px 0 10px 0;
    line-height: 40px;
    border: 1px dashed #262f30;
}
ul li:hover{
    background: #262f30;
    border: 1px solid #262f30;
    color: #fff;
    cursor: pointer;
    text-decoration: line-through;
}
form{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
input{
    padding: 10px 20px 10px 20px;
    height: 60px;
    border: 0;
    width: 100%;
    flex-basis: 65%;
    border-radius: 20px;
}
button{
    padding: 10px;
    height: 60px;
    border: 0;
    width: 100%;
    flex-basis:30%;
    color: #fff;
    font-size: 17px;
    border-radius: 20px;
    text-transform: uppercase;
    font-weight: 900;
    background: #a3ab85;
}
button:hover{cursor: pointer;}